/*
website: Grafitti project;
Danni Santana is the author of this page
Color theme is light gray, Yellow and blue. Black text on white background. 
*/


body{
	font-family: 'Noto Sans', sans-serif;
 	background-color:#dbdbdb;    
  	color: black;
  	margin: 0 auto;

}

h1{ font-family: 'Noto Sans', sans-serif;
	font-size: 66px; 
	font-style: bold; 
	font-weight: 400px; 
	line-height: 70px;
	text-align: center;
	text-shadow: 4px 4px;
	position: fixed;
	left: 80px;
	top: 0px;
	margin: auto 0px;
	background-color: white;
	z-index:3;
}

.img{
	position: fixed;
	top: -98px;
	left: -66px;
	padding-left: 20px;
	width:100px;
}

#contentheader{
background-color: white;
color: black;
position: absolute;
font-style: bold;
font-size: 24px;
top: 820px;
left: 90px;
background-color: #white;
border: 5px solid black;
text-align: center;
text-shadow:1px 1px;
opacity: 0.8;
width: 1719px;
}

p{

font-style: bold:;
max-width: auto;

}


#content{
	position: absolute; 
	top: 920px;
    left: 60px;
	width: 780px;
	opacity: 0.88;
	background-color: white; 
	font-size: 18px;  
	line-height: 18px;
	text-align: left;
	border-color: #7FFF00; 
	padding: 30px 30px 30px 30px;
	border: 8px solid black;
    margin: 30px;
    height: 2600px;

}


h2{
	text-align: center;
	font-style: bold;
	font-size: 26px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #939393;
}

h3{
	text-align: center;
	font-style: bold;
	font-size: 26px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #939393;

}

.map{

	padding: 20px;
	border: 5px solid black;
}
h4{
	text-align: center;
	font-style: bold;
	font-size: 26px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #939393;
}

h5{
	text-align: center;
	font-style: bold;
	font-size: 26px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #939393;

}

h6{
	text-align: center;
	font-style: bold;
	font-size: 26px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #939393;
}


#contenttwo{
	position: absolute; 
	right: 80px;
    top: 920px;
	width: 780px;
	opacity: 0.88;
	background-color: white; 
	font-size: 18px;  
	line-height: 18px;
	text-align: left; 
	padding: 30px 30px 30px 30px;
	border: 8px solid black;
    margin: 30px;
    height: 2600px;

}

.video{
	padding: 20px;
	border: 5px solid black;
}


.audio{
	padding: 20px;
	border: 5px solid black;
}

.audio1{
	padding: 20px;
	border: 5px solid black;
}



