/*
website: Grafitti project;
Danni Santana is the author of this page
Color theme is light gray, Yellow and blue. Black text on white background. 
*/


body{
	font-family: 'Noto Sans', sans-serif;
 	background-color:#dbdbdb;    
  	color: black;
}

h1{ font-family: 'Noto Sans', sans-serif;
	font-size: 55px; 
	font-style: bold; 
	font-weight: 400px; 
	line-height: 40px;
	text-align: center;
	text-shadow: 2px 2px #000;
	position: fixed;
	left: 415px;
}

.img{
	position: fixed;
	top: 140px;
	left: 60px;
	padding-left: 20px;
}

.map{

	padding: 1px;
}

#content{
	position: relative; 
	top: 875px;
    left: 160px;
	width: 730px;
	background-color: white; 
	font-size: 16px;  
	line-height: 18px;
	text-align: left;
	border-color: #7FFF00;
	border-width: 30px; 
	padding: 18px 18px 18px 18px;
}

#audio{
	background-color: #7FFF00;
	position: absolute;
	top: 2650px;
	right: 500px;
    

}




}